<div class="container text-center">
  <div class="row">
    <div class="col">
        <h1 class="badge bg-primary">Year to date</h1>
    </div>
  </div>
</div>

<div id="boardshower">
  <div class="container text-center">
    <div class="row">
      <div class="col">
  <h3>Actual</h3>
          <p>Total Orders: 
          <%= result_year.ord_sum %> </p>
          <p>Sales Value: £  
          <%= result_year.val_sum %></p>
                    <p>Averge order value: £
          <%= quotient(result_year.val_sum, result_year.ord_sum) %></p>
      </div>
          </div>
    <div class="row"> 
      <div class="col" id="bud">
          <h3>Budget</h3>
          <p>Total Orders:
          <%= result_year.bud_ord_sum %></p>
          <p>Sales Value: £
          <%= result_year.bud_val_sum %></p>
<p>
          <%if result_year.val_sum-result_year.bud_val_sum >= 0 %>
          <span id="pos">
          Sales Value Varience: £
          <%= result_year.val_sum - result_year.bud_val_sum %>
           &#128513;
          </span>
          <% else %>
           <span id="neg">
           Sales Value Varience: £
          <%= result_year.val_sum - result_year.bud_val_sum %>
          &#128546;
          </span>
          <% end %>
          </p>
      </div>
      <div class="col" id="py">
          <h3>Last year</h3>
          <p>Total Orders:
          <%= result_year.py_ord_sum %></p>
          <p>Sales Value: £
          <%= result_year.py_val_sum %></p>
          <p>
          <%if result_year.val_sum-result_year.py_val_sum >= 0 %>
          <span id="pos">
          Sales Value Varience: £
          <%= result_year.val_sum - result_year.py_val_sum %>
           &#128513;
          </span>
          <% else %>
           <span id="neg">
           Sales Value Varience: £
          <%= result_year.val_sum - result_year.py_val_sum %>
          &#128546;
          </span>
          <% end %>
          </p>
        </div>
    </div> 
  </div>    
</div>
