<div class="container text-center">
  <div class="row">
    <div class="col">
    <h1><span class="badge bg-primary">Month to Date</span></h1>
    </div>
  </div>
</div>


<div id="boardshower">
  <div class="container text-center">
    <div class="row">
      <div class="col">
            <h3>Actual</h3>    
          <p>Total Orders: 
          <%= result_month.ord_sum %> </p>
          <p>Sales Value: £  
          <%= result_month.val_sum %></p>
                    <p>Averge order value: £
          <%= quotient(result_month.val_sum, result_month.ord_sum) %></p>
      </div>
          </div>
    <div class="row"> 
      <div class="col" id="bud">
          <h3>Budget</h3>
          <p>Total Orders:
          <%= result_month.bud_ord_sum %></p>
          <p>Sales Value: £
          <%= result_month.bud_val_sum %></p>
          <p>
          <%if result_month.val_sum-result_month.bud_val_sum >= 0 %>
          <span id="pos">
          Sales Value Varience: £
          <%= result_month.val_sum - result_month.bud_val_sum %>
           &#128513;
          </span>
          <% else %>
           <span id="neg">
           Sales Value Varience: £
          <%= result_month.val_sum - result_month.bud_val_sum %>
          &#128546;
          </span>
          <% end %>
          </p>

      </div>
      <div class="col" id="py">
          <h3>Last year</h3>
          <p>Total Orders:
          <%= result_month.py_ord_sum %></p>
          <p>Sales Value: £
          <%= result_month.py_val_sum %></p>
          <p>
          <%if result_month.val_sum-result_month.py_val_sum >= 0 %>
          <span id="pos">
          Sales Value Varience: £
          <%= result_month.val_sum - result_month.py_val_sum %>
           &#128513;
          </span>
          <% else %>
           <span id="neg">
           Sales Value Varience: £
          <%= result_month.val_sum - result_month.py_val_sum %>
          &#128546;
          </span>
          <% end %>
          </p>
        </div>
        <div class="row"> 
      <div class="col" id="bud">
                Sales required to hit target this month: £
        <%= @budget_month.bud_val_sum - @result_month.val_sum %>
      </div>   
      </div>
    </div> 
  </div>    
</div>
