<div id="boardshower">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div>
          <h3>totals for the current date to -5years</h3>
          <p>total orders</p>
          <%= @result.ord_sum %>
          <p>total value</p>
          <%= @result.val_sum %>
          </div>
      </div>
      <div class="col">
                  <h3>totals for the current date to -5years</h3>
          <p>total orders</p>
          <%= @result.ord_sum %>
          <p>total value</p>
          <%= @result.val_sum %>
          </div>
      </div>
      <div class="col">
                  <h3>totals for the current date to -5years</h3>
          <p>total orders</p>
          <%= @result.ord_sum %>
          <p>total value</p>
          <%= @result.val_sum %>
          </div>
      <div>
    </div> 
  </div>    
</div>
<div id="boardshower">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div>
          <h3>totals for the current date to -5years</h3>
          <p>total orders</p>
          <%= @result.ord_sum %>
          <p>total value</p>
          <%= @result.val_sum %>
          </div>
      </div>
      <div class="col">
                  <h3>totals for the current date to -5years</h3>
          <p>total orders</p>
          <%= @result.ord_sum %>
          <p>total value</p>
          <%= @result.val_sum %>
          </div>
      </div>
      <div class="col">
                  <h3>totals for the current date to -5years</h3>
          <p>total orders</p>
          <%= @result.ord_sum %>
          <p>total value</p>
          <%= @result.val_sum %>
          </div>
      <div>
    </div> 
  </div>    
</div>