<%= form_with(model: info) do |form| %>
  <% if info.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(info.errors.count, "error") %> prohibited this info from being saved:</h2>

      <ul>
        <% info.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :ord, style: "display: block" %>
    <%= form.number_field :ord %>
  </div>

  <div>
    <%= form.label :val, style: "display: block" %>
    <%= form.number_field :val %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

    <%= form.label :bud_ord, style: "display: block" %>
    <%= form.number_field :bud_ord %>
  </div>

  <div>
    <%= form.label :bud_val, style: "display: block" %>
    <%= form.number_field :bud_val %>
  </div>

      <%= form.label :py_ord, style: "display: block" %>
    <%= form.number_field :py_ord %>
  </div>

  <div>
    <%= form.label :py_val, style: "display: block" %>
    <%= form.number_field :py_val %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
