<div id="<%= dom_id info %>">
 <tbody>
 <tr>
    <td><%= info.date %></td>
    <td><%= info.ord %></td>
    <td><%= info.val %></td>
    <td><%= link_to "Show this info", info %></td>
    </tr>
  </tbody>

</div>
